<script>
    import DateFormat from './DateFormat.svelte';

	let feeds = [];

    fetch('http://localhost:8088/api/feeds', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
        mode: 'cors',
        cache: 'default' 
    }).then(function(response) {
        if(response.ok) {
            return response.json();
        }
        throw new Error('Network response was not ok.');
    }).then(function(feedsJson) { 
        feeds = feedsJson.sort(sortByName);
    }).catch(function(error) {
        console.log('There has been a problem with your fetch operation: ', error.message);
    });

    let sortByName = function(a, b){
        return a.name.toLowerCase() > b.name.toLowerCase();
    }

    let removeFeed = function(index) {
        let feed = feeds[index];

        fetch('http://localhost:8088/api/feeds/' + feed.id, {
            method: 'DELETE',
            mode: 'cors',
            cache: 'reload',
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(function(response) {
            if (response.ok) {
                feeds = feeds.slice(0, index).concat(feeds.slice(index + 1));
            }
            throw new Error('Network response was not ok.');
        }).catch(function(error) {
            console.log('There has been a problem with your fetch operation: ', error.message);
        });

    }
</script>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-sm table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>Feed</th>
                    <th>Link</th>
                    <th>Feed type</th>
                    <th>Updated</th>
                    <th>Last run</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {#each feeds as feed, index(feed)}
                <tr>
                    <td class="align-middle">{feed.name}</td>
                    <td class="align-middle">{feed.link}</td>
                    <td class="align-middle text-center">{feed.feed_type}</td>
                    <td class="align-middle text-right"><DateFormat myDate={feed.updated}/></td>
                    <td class="align-middle text-right"><DateFormat myDate={feed.last_run}/></td>
                    <td class="align-middle"><button type="button" class="btn btn-danger btn-sm m-0" on:click={() => removeFeed(index)}>Slet</button></td>
                </tr>
                {/each}
            </tbody>
        </table>
    </div>
</div>
