<script>
    export let myDate;
    const formatter = new Intl.DateTimeFormat('da', {
        weekday: 'short',
        month: 'short',
        day: 'numeric',
        year: '2-digit',
		hour12: false,
		hour: 'numeric',
		minute: '2-digit',
	});
    let formatted = formatter.format(new Date(myDate));
</script>

<span>{formatted}</span>
